<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <img width="24" src="{{ includeResource("img/flags/"~ locale ~ ".png") }}"></img>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="?crisp_locale=en"><img width="24" src="{{ includeResource("img/flags/en.png") }}"></img> English</a></li>
    <li><a class="dropdown-item" href="?crisp_locale=de"><img width="24" src="{{ includeResource("img/flags/de.png") }}"></img> Deutsch</a></li>
  </ul>
</div>