<h4>{{ location.name }}</h4>
<span><b>{{ location.category.name }}</b></span>
<hr>
<p>{{ location.description|striptags|truncateText(200) }}</p>

<span>
	{% for property in AllLocationProperties %}
		{% if property.value in location.properties %}
			{% include "maps/templates/Components/PropertyBadge.twig" with {'property': property} %}
		{% endif %}
	{% endfor %}
</span>