{% include "lostplaces/templates/Components/MapPopupShared.twig" %}

{% if not singleLocation %}
<hr>
<a href="/location/{{ location.id }}" class="btn btn-primary text-white">
	Mehr Infos...
</a>
{% endif %}