{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Dashboard.Title"| translate %}
{% set currentPage = 'admin/dashboard' %}


{% block Content %}
<div class="row">
  <div class="col-xxl-8 mb-6 order-0 gy-2">
    {% include "Components/Dashboard/WelcomeCard.twig" %}
  </div>
  <div class="col-lg-4 col-md-4 order-1">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-6 mb-6 gy-2">
      {% include "Components/Dashboard/PagesCard.twig" %}
      </div>
      <div class="col-lg-6 col-md-12 col-6 mb-6 gy-2">
      {% include "Components/Dashboard/UsersCard.twig" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}