{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.ErrorPageNoLayoutWrapper.Title"| translate %}

{% block Content %}
&nbsp;
<div class="container h-100">
  <div class="row justify-content-center align-self-crow align-items-center h-100enter">
	<div class="col-6 mx-auto">
	  <div class="card">
		<div class="card-body alert-danger">
		  <h4 class="card-title text-center">{{ ErrorMessage }}</h4>
		</div>
	  </div>
	</div>
  </div>
</div>

{% endblock %}
