{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Files.Title"| translate %}
{% set currentPage = 'admin/files' %}

{% block Content %}
	&nbsp;
	<div class="container h-100">
		<div id="elfinder"></div>
	</div>

{% endblock %}

{% block PageCSS %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.65/css/elfinder.min.css"/>
{% endblock %}

{% block PageJs %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.65/js/elfinder.min.js" integrity="sha512-WJC7xcYftu+jl2taNq8hF9tdT8BuizNJSazzKJSVGaHselut9uQhe0ag0R3Hj6j2Cg7TGN9D0s+iH05XtcR/MA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script data-main="{{ includeResource("js/CMSControl/elfinder/elfinder.main.js") }}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
	<script src="{{ includeResource("js/CMSControl/elfinder/elfinderConfig.js") }}"></script>
{% endblock %}
