<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "checkbox",
        "id": "settings-lostplaces-auth-required",
        "name": "LostPlaces_AuthRequired",
        "checked": config.LostPlaces_AuthRequired,
        "label": "Kartenansicht: Login erforderlich",
        "hint": "Wenn aktiviert ist für die Kartenansicht ein Login erforderlich",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-path",
        "name": "LostPlaces_MapPath",
        "value": config.LostPlaces_MapPath,
        "label": "Kartenansicht: URL Pfad",
        "hint": "Der URL Pfad der Kartenansicht",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-attribution",
        "name": "LostPlaces_MapAttribution",
        "value": config.LostPlaces_MapAttribution,
        "label": "Kartenansicht: Attribution",
        "hint": "Die Attribution die in der Kartenansicht angezeigt wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-tileserver",
        "name": "LostPlaces_MapTileServer",
        "value": config.LostPlaces_MapTileServer,
        "label": "Kartenansicht: Tile Server",
        "hint": "Der Tile Server der für die Kartenansicht verwendet wird",
    } %}
</div>
<div class="row row-cols-2">

	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-icon-class",
        "name": "LostPlaces_IconClass",
        "items": [
            {"value": "\blfilme\lostplaces\Models\IconModels\FontAwesomeSolidIconModel", "text": "Font Awesome Solid", selected: config.LostPlaces_IconClass == "FontAwesomeSolidIconModel"}
        ],	
        "label": "Kartenansicht: Icon Font",
        "hint": "Die Font Awesome Font die für die Icons verwendet werden soll",
    } %}

	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-fileprovider-class",
        "name": "LostPlaces_FileProvider",
        "items": [
            {"value": "LocalFileProvider", "text": "Lokal", selected: config.LostPlaces_FileProvider == "LocalFileProvider"}
        ],	
        "label": "Datei Provider",
        "hint": "Provider der alle Dateien bereitstellt",
    } %}
</div>
<div class="divider">
	<div class="divider-text">Lokaler Datei Provider</div>
</div>
<div class="row row-cols-2">

	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-provider-path",
        "name": "LostPlaces_ProviderPath",
        "value": config.LostPlaces_ProviderPath,
        "label": "Lokaler Pfad",
        "hint": "Der lokale Pfad zu den Dateien, relativ zum /data Verzeichnis",
    } %}
</div>
