<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-path",
        "name": "LostPlaces_MapPath",
        "required": true,
        "value": config.LostPlaces_MapPath,
        "label": "Kartenansicht: URL Pfad",
        "hint": "Der URL Pfad der Kartenansicht",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-attribution",
        "name": "LostPlaces_MapAttribution",
        "required": true,
        "value": config.LostPlaces_MapAttribution,
        "label": "Kartenansicht: Attribution",
        "hint": "Die Attribution die in der Kartenansicht angezeigt wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-tileserver",
        "name": "LostPlaces_MapTileServer",
        "required": true,
        "value": config.LostPlaces_MapTileServer,
        "label": "Kartenansicht: Tile Server",
        "hint": "Der Tile Server der für die Kartenansicht verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-icon-class",
        "name": "LostPlaces_IconClass",
        "required": true,
        "items": [
            {"value": "\blfilme\lostplaces\Models\IconModels\FontAwesomeSolidIconModel", "text": "Font Awesome Solid", selected: config.LostPlaces_IconClass == "FontAwesomeSolidIconModel"}
        ],	
        "label": "Kartenansicht: Icon Font",
        "hint": "Die Font Awesome Font die für die Icons verwendet werden soll",
    } %}

	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-fileprovider-class",
        "name": "LostPlaces_FileProvider",
        "required": true,
        "items": [
            {"value": "LocalFileProvider", "text": "Lokal", selected: config.LostPlaces_FileProvider == "LocalFileProvider"}
        ],	
        "label": "Datei Provider",
        "hint": "Provider der alle Dateien bereitstellt",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-location-template",
        "name": "LostPlaces_LocationTemplate",
        "required": true,
        "items": LostPlaces_LocationTemplateList,	
        "label": "Location Template",
        "hint": "Das Template das für die Location verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-popup-template",
        "name": "LostPlaces_MapPopupTemplate",
        "items": LostPlaces_MapPopupTemplateList,	
        "label": "Popup Template",
        "hint": "Das Template das für das Karten Popup verwendet wird, Crispy Maps stellt eine Standard Vorlage bereit",
    } %}
</div>
<div class="divider">
	<div class="divider-text">Reporting</div>
</div>
<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-netzdg-report-url",
        "name": "LostPlaces_NetzDGReportUrl",
        "value": config.LostPlaces_NetzDGReportUrl,
        "label": "ReportModal: NetzDG URL",
        "hint": "Die Weiterleitungs-URL die für die NetzDG Meldung verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-report-mail",
        "name": "LostPlaces_ReportMail",
        "placeholder": "max.mustermann@beispiel.tld,admin@beispiel.tld",
        "items": LostPlaces_ReportMail,	
        "label": "Report Modal: E-Mail",
        "hint": "An diese E-Mail Adressen (Komma separiert) wird eine E-Mail gesendet, wenn ein Nutzer eine Location meldet",
    } %}
</div>

<div class="divider">
	<div class="divider-text">Lokaler Datei Provider</div>
</div>
<div class="row row-cols-2">

	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-provider-path",
        "name": "LostPlaces_ProviderPath",
        "required": true,
        "value": config.LostPlaces_ProviderPath,
        "label": "Lokaler Pfad",
        "hint": "Der lokale Pfad zu den Dateien, relativ zum /data Verzeichnis",
    } %}
</div>

<div class="divider">
	<div class="divider-text">Karten Boundaries</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="d-grid gap-2">
			<a role="button" href="/admin/lp/mapboundary" class="btn btn-primary" type="button">Boundary Bearbeiten</a>
		</div>
	</div>
</div>
