<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-path",
        "name": "LostPlaces_MapPath",
        "required": true,
        "value": config.LostPlaces_MapPath,
        "label": "Kartenansicht: URL Pfad",
        "hint": "Der URL Pfad der Kartenansicht",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-attribution",
        "name": "LostPlaces_MapAttribution",
        "required": true,
        "value": config.LostPlaces_MapAttribution,
        "label": "Kartenansicht: Attribution",
        "hint": "Die Attribution die in der Kartenansicht angezeigt wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-tileserver",
        "name": "LostPlaces_MapTileServer",
        "required": true,
        "value": config.LostPlaces_MapTileServer,
        "label": "Kartenansicht: Tile Server",
        "hint": "Der Tile Server der für die Kartenansicht verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-cluster-zoomlevel",
        "name": "LostPlaces_MapClusterZoomLevel",
        "required": true,
        "value": config.LostPlaces_MapClusterZoomLevel,
        "label": "Kartenansicht: Cluster Zoom Level",
        "hint": "Der Zoom Level ab dem Cluster aufgelöst werden. Je höher der Wert, desto mehr muss rein gezoomt werden, damit die Cluster aufgelöst werden.",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-icon-class",
        "name": "LostPlaces_IconClass",
        "required": true,
        "items": [
            {"value": "\blfilme\lostplaces\Models\IconModels\FontAwesomeSolidIconModel", "text": "Font Awesome Solid", selected: config.LostPlaces_IconClass == "FontAwesomeSolidIconModel"}
        ],	
        "label": "Kartenansicht: Icon Font",
        "hint": "Die Font Awesome Font die für die Icons verwendet werden soll",
    } %}

	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-fileprovider-class",
        "name": "LostPlaces_FileProvider",
        "required": true,
        "items": [
            {"value": "LocalFileProvider", "text": "Lokal", selected: config.LostPlaces_FileProvider == "LocalFileProvider"}
        ],	
        "label": "Datei Provider",
        "hint": "Provider der alle Dateien bereitstellt",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-location-template",
        "name": "LostPlaces_LocationTemplate",
        "required": true,
        "items": LostPlaces_LocationTemplateList,	
        "label": "Location Template",
        "hint": "Das Template das für die Location verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-lostplaces-popup-template",
        "name": "LostPlaces_MapPopupTemplate",
        "items": LostPlaces_MapPopupTemplateList,	
        "label": "Popup Template",
        "hint": "Das Template das für das Karten Popup verwendet wird.",
    } %}
</div>
<div class="divider">
	<div class="divider-text">Reporting</div>
</div>
<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-netzdg-report-url",
        "name": "LostPlaces_NetzDGReportUrl",
        "value": config.LostPlaces_NetzDGReportUrl,
        "label": "ReportModal: NetzDG URL",
        "hint": "Die Weiterleitungs-URL die für die NetzDG Meldung verwendet wird",
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-report-mail",
        "name": "LostPlaces_ReportMail",
        "placeholder": "max.mustermann@beispiel.tld,admin@beispiel.tld",
        "items": LostPlaces_ReportMail,	
        "label": "Report Modal: E-Mail",
        "hint": "An diese E-Mail Adressen (Komma separiert) wird eine E-Mail gesendet, wenn ein Nutzer eine Location meldet",
    } %}
</div>

<div class="divider">
	<div class="divider-text">Lokaler Datei Provider</div>
</div>
<div class="row row-cols-2">

	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-provider-path",
        "name": "LostPlaces_ProviderPath",
        "required": true,
        "value": config.LostPlaces_ProviderPath,
        "label": "Lokaler Pfad",
        "hint": "Der lokale Pfad zu den Dateien, relativ zum /data Verzeichnis",
    } %}
</div>

<div class="divider">
	<div class="divider-text">Karten Boundaries</div>
</div>
<div class="row row-cols-2">

	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-center",
        "name": "LostPlaces_MapCenter",
        "required": true,
        "value": config.LostPlaces_MapCenter,
        "label": "Karten Zentrum",
        "hint": "Das Zentrum der Karte als JSON Array [Lat, Lon]",
    } %}

	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-lostplaces-map-boundarybox",
        "name": "LostPlaces_MapBoundaryBox",
        "required": true,
        "value": config.LostPlaces_MapBoundaryBox,
        "label": "Karten Boundary Box",
        "hint": "Die Boundary Box der Karte als JSON Array [[SouthWest Lat, SouthWest Lon], [NorthEast Lat, NorthEast Lon]]",
    } %}


	{% include "Components/Input.twig" with {
        "type": "number",
        "id": "settings-lostplaces-map-boundarybox",
        "name": "LostPlaces_MapDefaultZoom",
        "required": true,
        "value": config.LostPlaces_MapDefaultZoom,
        "label": "Karten Default Zoom",
        "hint": "Der Default Zoom Level der Karte",
    } %}

</div>
