{% include "maps/templates/Components/MapPopupShared.twig" %}

<hr>
<div class="d-grid gap-2">
	<a href="/admin/location/{{ location.id }}" class="btn btn-warning text-white">
		Bearbeiten
	</a>
</div>
