<div class="card my-2">
	<div class="card-header">
		<h5 class="card-title">{{ "CMSControl.Components.Cards.TemplateInfoCard.Title"| translate }}</h5>
	</div>
	<div class="card-body">
        <label class="form-label" for="id">{{ "CMSControl.Components.Cards.TemplateInfoCard.Include.Label"| translate }}</label>
		<textarea class="form-control" readonly>{% verbatim %}{% include {% endverbatim %}"{{ Template.path }}"{% verbatim %} %}{% endverbatim %}</textarea>
        <small class="text-muted">{{ 'CMSControl.Components.Cards.TemplateInfoCard.Include.Text'|translate }}</small>
	</div>
</div>
