<div class="alert alert-warning">
    {{ "CMSControl.Banner.WorkInProgress"|translate }}
</div>

<div class="row row-cols-2">
	{% include "Components/Input.twig" with {
        "type": "checkbox",
        "id": "settings-email-enabled",
        "name": "CMSControl_Email_Enabled",
        "checked": config.CMSControl_Email_Enabled,
        "disabled": true,
        "label": "CMSControl.Views.Settings.Email.Enabled.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Enabled.Hint"|translate,
    } %}
</div>
<div class="row row-cols-2 mt-4">
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-email-host",
        "name": "CMSControl_Email_Host",
        "value": config.CMSControl_Email_Host,
        "label": "CMSControl.Views.Settings.Email.Host.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Host.Hint"|translate,
        "placeholder": "smtp.example.com"
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-email-port",
        "name": "CMSControl_Email_Port",
        "value": config.CMSControl_Email_Port,
        "label": "CMSControl.Views.Settings.Email.Port.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Port.Hint"|translate,
        "placeholder": "25"
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-email-username",
        "name": "CMSControl_Email_Username",
        "value": config.CMSControl_Email_Username,
        "label": "CMSControl.Views.Settings.Email.Username.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Username.Hint"|translate,
        "placeholder": "crispy@example.com"
    } %}
	{% include "Components/Input.twig" with {
        "type": "password",
        "id": "settings-email-password",
        "name": "CMSControl_Email_Password",
        "value": config.CMSControl_Email_Password,
        "label": "CMSControl.Views.Settings.Email.Password.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Password.Hint"|translate,
        "placeholder": "hunter2"
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-email-from",
        "name": "CMSControl_Email_From",
        "value": config.CMSControl_Email_From,
        "label": "CMSControl.Views.Settings.Email.FromEmail.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.FromEmail.Hint"|translate,
        "placeholder": "crispy@example.com"
    } %}
	{% include "Components/Input.twig" with {
        "type": "text",
        "id": "settings-email-from-name",
        "name": "CMSControl_Email_From_Name",
        "value": config.CMSControl_Email_From_Name,
        "label": "CMSControl.Views.Settings.Email.FromName.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.FromName.Hint"|translate,
        "placeholder": "CrispyCMS"
    } %}
	{% include "Components/Input.twig" with {
        "type": "select",
        "id": "settings-email-encryption",
        "name": "CMSControl_Email_Encryption",
        "items": [
            {"value": "none", "text": "CMSControl.Views.Settings.Email.Encryption.None"|translate, selected: config.CMSControl_Email_Encryption == "none"},
            {"value": "ssl", "text": "CMSControl.Views.Settings.Email.Encryption.SSL"|translate, selected: config.CMSControl_Email_Encryption == "ssl"},
            {"value": "tls", "text": "CMSControl.Views.Settings.Email.Encryption.TLS"|translate, selected: config.CMSControl_Email_Encryption == "tls"}
        ],	
        "label": "CMSControl.Views.Settings.Email.Encryption.Label"|translate,
        "hint": "CMSControl.Views.Settings.Email.Encryption.Hint"|translate
    } %}
</div>
