<div class="modal fade" id="createRoleModal" tabindex="-1" aria-labelledby="createRoleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createRoleModalLabel">{{ 'CMSControl.Components.Modals.CreateRole.Modal.Title'|translate }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="role-create-form">

					<div class="my-2">
						<label class="form-label" for="new-role-name">{{ "CMSControl.Components.Modals.CreateRole.Modal.Form.Name"| translate }}</label>
						<input type="text" class="form-control" name="name" id="new-role-name" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'CMSControl.Components.Modals.CreateRole.Modal.Button.Close'|translate }}</button>
				<button type="submit" form="role-create-form" class="btn btn-primary">{{ 'CMSControl.Components.Modals.CreateRole.Modal.Button.Create'|translate }}</button>
			</div>
		</div>
	</div>
</div>
